<!DOCTYPE html>
<html>
<head>
    <title><%= pageTitle %></title>
    <%- include('includes/meta') %>
</head>
<body>
<%- include('includes/nav') %>
<div class="banner banner02"></div>
<div class="warp cl">
    <div class="list-warp">
        <div class="links-con">
            <ul class="cl">
                <% links.forEach(function (link) { %>
                <li><a href="<%= link.url %>" target="_blank" title="<%= link.title %>"><img src="<%= link.icon %>"></a></li>
                <li><a href="https://cnodejs.org/" target="_blank" title="Node.js中文社区"><img src="/uploadfiles/article-1537327499389.jpg"></a></li>
                
                <!-- <li><a href="https://ejs.bootcss.com/" target="_blank" title="EJS 中文文档"><img src="/uploadfiles/article-1537327603535.jpg"></a></li> -->

                <% }) %>
            </ul>
        </div>
    </div>
</div>
<%- include('includes/footer') %>
</body>
</html>




